@model IEnumerable<Movie>;
@{ ViewData["Title"] = "Movies";
}


    @foreach(var movie in Model){
        <div class="col-md-6">
    <hr>   
                <img style="height :300px; width :200px;" src="@movie.Poster" alt="Movie Poster" class="img-fluid">
            
            <hr>
        </div>
        <div class="container">
        <h1 class="Title">Movie Name:@movie.Title</h1>
            @* <h1> IMDB Ratings: @Model.</h1> *@
            <div class="Content">
                
                <h3>Released: @movie.Year</h3>
                <h3>Rated: @movie.Rated</h3>
                @* <h3>Language: @Model</h3> *@
                <h3>Actor: @movie.Actors</h3>
                <h3>Made in: null</h3>
                <h3>Ratings: 
                    @* @foreach(var ratings in @Model.Ratings){
                        <ul><li>@ratings.Source: @ratings.Value</li></ul>
                    } *@
                    </h3>
                <hr>
            </div>
            <div class="Summary">
                <h4>
                Summary
                </h4>
                <p>@movie.Plot</p>
                <hr>
            </div class = "Review">
            </div>
    }
   }
           
        
        
        
  